<div class="jumbotron">
    <h1 style="font-family:'Times New Roman', Times, serif">BANKING SYSTEM</h1>
    <h2 class="lead">The World needs Banking but it doesnot need Banks</h2>
    <p><a href="https://localhost:44316/Home/Register" class="btn btn-primary btn-lg">SignUp &raquo;</a> <a href="https://localhost:44316/Home/Login" class="btn btn-primary btn-lg">Login &raquo;</a></p>
    <img src="~/Content/bank5.jpg" alt="Bank" height="550" width="900" />
</div>

